body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

address {
    font-style: normal;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    ul {
        padding-left: 15px;
    }
}