.div{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;
    /* transition: 1s ease-in-out; */

    transition: 1s steps(4,end);



}


div:hover{
    transform: scale(1.5) translate(150px);

}





/* .div:hover{
    height: 400px;
    width: 400px;
} */