

div{
display: flex;
   
     justify-content: space-between;
}


form{
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
}


label{
    font-size: 20px;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}



table td,
table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

table tr:nth-child(even){
    background-color: blue;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #064;
    color: white;
    text-align: center;
}

*{
    box-sizing: border-box;
}



